*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
}
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
::moz-focus-inner {
  border-style: none;
  padding: 0;
}
::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
body {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}
.fill-green-50 {
  --ns-fill-color: 1;
  fill: rgba(236, 253, 245, var(--ns-fill-color));
}
.fl-slate-900 {
  --ns-fill-color: 1;
  fill: rgba(15, 23, 42, var(--ns-fill-color));
}
.f-blue-800 {
  --ns-fill-color: 1;
  fill: rgba(30, 64, 175, var(--ns-fill-color));
}
.stroke-green-50 {
  --ns-stroke-color: 1;
  stroke: rgba(236, 253, 245, var(--ns-stroke-color));
}
.strk-slate-900 {
  --ns-stroke-color: 1;
  stroke: rgba(15, 23, 42, var(--ns-stroke-color));
}
.sk-blue-800 {
  --ns-stroke-color: 1;
  stroke: rgba(30, 64, 175, var(--ns-stroke-color));
}
.stroke-0 {
  stroke-width: 0;
}